<div class="login">
  <h1>Registrate!</h1>
  <br>
  <form id="registerForm"></form>
    <input name="first_name" placeholder="Nombre"/>
    <input name="last_name" placeholder="Apellido"/>
    <input name="email" placeholder="correo@correo.com" />
    <input type="file" name="avatar"/>
    <input type="password" name="password" minlength="8" required placeholder="Password"/>
    <input type="submit" class="btn btn-primary btn-block btn-large"/>
  </form>

<br>
<p class="logueate">¡Ya estás registrado?</p>
  <div class="botonesIngreso">
      <a class="btn btn-primary btn-block btn-medium" href="/">Logueate :)</a>
  </div>

</div>
<script src="/js/register.js"></script>