<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log-In</title>
  </head>
  <body>
    <h1>Logueate</h1>
    <form id="loginForm">
      <label>Correo electrónico</label>
      <input name="email" />
      <label>Contraseña</label>
      <input type="password" name="password" />
      <input type="submit" />
    </form>

    <p>¿No estás logueado? <a href="/register">Regístrate :)</a></p>

    <p>Tambien puedes loguearte con: <a href="/sessions/github"><button>GITHUB</button></a></p>
  </body>
  <script src="/js/login.js"></script>
</html>