<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Regístrate</h1>
    <form id="registerForm">
      <label>Nombre</label>
      <input name="first_name" />
      <label>Apellido</label>
      <input name="last_name" />
      <label>Correo electrónico</label>
      <input name="email" />
      <label>Contraseña</label>
      <input type="password" name="password" />
      <input type="submit" />
    </form>

    <p>¿Ya estás registrado? <a href="/">Logueate :)</a></p>
  </body>
  <script src="/js/register.js"></script>
</html>